server:
  port: 8086

spring:
  application:
    name: payment-service
  datasource:
    url:
    driverClassName:
    username:
    password: 
  jpa:
    hibernate:
      ddl-auto: update

  data:
    redis:
      host:
      port:
  kafka:
    bootstrap-servers: 192.168.1.100:9092
    producer:
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      properties:
        enable.idempotence: true
        linger.ms: 50 # 메시지를 모아서 보내는 시간
        batch.size: 131072 # 128KB
        delivery-timeout-ms: 120000
        request.timeout.ms: 30000
    consumer:
      group-id: payment-service-group
      auto-offset-reset: earliest
      key-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      properties:
        spring.deserializer.key.delegate.class: org.apache.kafka.common.serialization.StringDeserializer
        spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer
        spring.json.trusted.packages: "*"
        max.poll.records: 500
        spring.json.type.mapping: >
          com.example.trip_service.kafka.dto.TripCompletedEvent:com.example.payment_service.kafka.dto.TripCompletedEvent
    listener:
      ack-mode: RECORD

resilience4j:
  circuitbreaker:
    instances:
      pricing-service:
        failure-rate-threshold: 50
        minimum-number-of-calls: 10
        sliding-window-type: count-based
        sliding-window-size: 20
        wait-duration-in-open-state: 30s
        permitted-number-of-calls-in-half-open-state: 5
      user-service:
        failure-rate-threshold: 50
        minimum-number-of-calls: 10
        sliding-window-type: count-based
        sliding-window-size: 20
        wait-duration-in-open-state: 30s
        permitted-number-of-calls-in-half-open-state: 5

services:
  pricing-service:
    url: http://pricing-service
  user-service:
    url: http://user-service

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka
